        <footer>
            © 2024 Paws & Hearts Adoption Haven. All rights reserved. <br> Privacy/Disclaimer Statement
            <br>
            <p style="font-size: 0.8em; margin-top: 10px;">
                We value your trust and privacy. Your personal information is kept confidential and is never sold or misused. While we strive for accuracy, Paws & Hearts Adoption Haven cannot be held responsible for any incorrect information posted by pet owners.
            </p>
        </footer>
        <script src="external.js"></script>
    </body>
</html>