<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="styles.css">
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <a href="home.html">
                <img src="logo.jpg" alt="Logo" height="70">
            </a>
            <h3>Paws & Hearts Adoption Haven</h3>
            <p id="datetime"></p>
        </header>

        <nav>
            <a href="/home">Home page</a><br>
            <a href="/find">Find a dog/cat</a><br>
            <a href="/dog-care">Dog Care</a><br>
            <a href="/cat-care">Cat Care</a><br>
            <a href="/give-away">Have a pet to give away</a><br>  
            <a href="/account">Create an account</a><br>  
            <a href="/contact">Contact Us</a>    
        </nav>
