<%- include('partials/header', { title: 'Contact' }) %>

<main>
    <img src="hands.png" alt="Hands" height="60">
    <h2>Let's keep in touch!</h2> <br>
    <p><b>Name:</b> Alejandro Leonardo García Navarro</p>
    <p><b>Student ID:</b> 40291834</p>
    <p><b>Email:</b> al.garcia636@gmail.com</p>
    <p><a href="https://www.linkedin.com/in/alexgaarciia/">LinkedIn</a> | <a href="https://github.com/alexgaarciia">GitHub</a></p>
</main>

<%- include('partials/footer') %>
