@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
    margin: 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    font-family: 'Comfortaa', sans-serif;
}

header {
    grid-area: header;
    text-align: center;
    padding: 10px;
}

nav {
    grid-area: nav;
    border: 1px solid black;
    border-right-width: 0cap;
    text-align: center;
    padding: 10px;
}

main {
    grid-area: main;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    display: block;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
}